* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

li {
  font-size: 18px;
  color: #E5E7EB;
}

.top-body {
  display: flex;
  background-color: #1F2937;
  padding-top: 75px;
  padding-left: 200px;
  padding-right: 200px;
}

.top-content {
  display: flex;
  flex-direction: column;
}
.title {
  font-size:48px;
  font-weight: 800;
  color: #F9FAf8;
}

.paragraph {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color:#3882F6;
  border-radius: 12px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color:#1F2937;
  font-weight: 1000;
  font-size: 36px;
}

.info-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-img {
  border: 3px solid #3882F6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.img-series {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.caption {
  color: #1F2937;
  font-weight: extra-light;
  text-align: center;
  margin-top: 5px;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 100px;
}

.quotes {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  align-self: center;
  color: #1F2937;
}

#quote_author {
  font-size: 18px;
  font-weight: 1000;
  font-style: bold;
  color: #1F2937;
  align-self: center;
  text-align: right;
}

.white_backdrop {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.blue_backdrop {
  display: flex;
  background-color: #3882F6; 
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  background-color:  #1F2937;
  justify-content: center;
  align-items: center;
  padding: 20px;
}