* {
  font-family: "Roboto";
  color: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

li {
  font-size: 18px;
  color: #E5E7EB;
}

